# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TaskListService.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/vcs.xml
/.name
/encodings.xml
/indexLayout.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
